<%- include("../partials/header") %>
<main>
  <h1>Account Management</h1>
  <% if (flash && flash.length > 0) { %>
    <div class="flash-message"><%= flash %></div>
  <% } %>
  <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
  <p>You're logged in.</p>
  <h2>Manage Inventory</h2>
  <p>Choose a classification to see those vehicles:</p>
  <%- classificationSelect %>
  <table id="inventoryDisplay"></table>
  <noscript>JavaScript must be enabled to use this page.</noscript>
  <script src="../../js/inventory.js"></script>
</main>
<%- include("../partials/footer") %>